.navbar-dark .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%2856, 56, 56, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.navbar-dark .navbar-toggler {
    color: transparent;
    border-color: transparent;
    padding: 5px;
}

.custom_btn {
    background: rgb(122 185 0);
    color: white;
    transition: 500ms;
}

.custom_btn:hover {
    background: green;
    color: white;
}

.custom_btn:last-child {
    background: rgb(121, 121, 121);
}

.custom_btn:last-child:hover{
    background: rgb(96, 96, 96);
}

.bg-success {
    background: rgb(122 185 0) !important;
}

.text-success {
    color: rgb(122 185 0) !important;
}