@import 'fonts.css';

:root {
    --font-main: 'Montserrat';
    --main-color-1: #00A22B;
    --main-color-2: #227137;
    --main-color-3: #005E19;
    --main-color-4: #67F18B;
    --main-color-5: #B9F1C8;
    --logo-color: rgb(122 185 0);
}

body {
    font-family: var(--font-main);
}
main {
    background: var(--main-color-5);
}

.navbar_logo {
    width: 80px;
    height: 50px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar_logo-img {
    width: 100%;
}

.navbar_logo-name {
    font-weight: bold;
    color: rgb(56, 56, 56);
    line-height: 18px;
}

.navbar_logo-letter {
    color: rgb(122 185 0);
}

.hero {
    background-image: url(https://media.sciencephoto.com/f0/33/12/38/f0331238-800px-wm.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    position: relative;
}

.hero__blur {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(8px);
}

.hero__container {
    position: relative;
    z-index: 1;
}