@import 'fonts.css';

:root {
    --font-main: 'Montserrat';
    --main-color-1: #00A22B;
    --main-color-2: #227137;
    --main-color-3: #005E19;
    --main-color-4: #67F18B;
    --main-color-5: #e1edd2;
    --logo-color: rgb(122 185 0);
}

body {
    font-family: var(--font-main);
}

.navbar {
    background: rgba(255, 255, 255, 0.533);
    backdrop-filter: blur(5px);
}

.navbar_logo {
    width: 80px;
    height: 50px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar_logo-img {
    width: 100%;
}

.navbar_logo-name {
    font-weight: bold;
    color: rgb(56, 56, 56);
    line-height: 18px;
}

.navbar_logo-letter {
    color: rgb(122 185 0);
}

.header__link {
    color: rgb(56, 56, 56) !important;
    transition: 500ms;
    position: relative;
}

.header__link:hover {
    color: rgb(122 185 0) !important;
}

/* hero >>> */

.hero {
    background-image: url(../img/hero-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    position: relative;
}

.hero__title {
    font-size: 37px;
}

.hero__blur {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(255, 255, 255, 0.394);
    backdrop-filter: blur(6px);
}

.hero__container {
    position: relative;
    z-index: 1;
    padding-top: 9rem;
    padding-bottom: 2rem;
}

/* hero <<< */

/* section About >>> */

.about__card {
    background-color: var(--main-color-1);
    color: white;
    transition: 500ms;
    box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

.about__card:hover {
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    transform: translateY(-15px);
}

.about__card-icon {
    position: relative;
    font-size: 50px;
}

#cash {
    -webkit-animation: shake 2s linear alternate infinite;
    animation: shake 2s linear alternate infinite;
}
@-webkit-keyframes shake {
    100% {
        -webkit-transform: translateY(-10px);
    }
}
@keyframes shake {
    100% {
        transform: translateY(-10px);
    }
}

#team {
    -webkit-animation: zoom 2s linear alternate infinite;
    animation: zoom 2s linear alternate infinite;
}
@-webkit-keyframes zoom {
    100% {
        -webkit-transform: scale(1.15);
    }
}
@keyframes zoom {
    100% {
        -webkit-transform: scale(1.15);
    }
}

#time {
    -webkit-animation: rotation 4s linear forwards infinite;
    animation: rotation 4s linear forwards infinite;
}
@-webkit-keyframes rotation {
    100% {
        -webkit-transform: rotate(360deg);
    }
}
@keyframes rotation {
    100% {
        -webkit-transform: rotate(360deg);
    }
}

/* section About <<< */

/* section Work >>> */

.work__card {
    box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
    transition: 500ms;
}

.work__card:hover {
    box-shadow: none;
    transform: scale(0.98);
}

.work__card-icon {
    font-size: 45px;
}

/* section Work <<< */

/* section Bounus >>> */

.bonus {
    background-image: url(../img/service-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    position: relative;
}

.bounus__blur {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(109, 106, 106, 0.162);
    backdrop-filter: blur(5px);
}

.bonus__container {
    position: relative;
    z-index: 2;
}

/* section Bounus <<< */

/* section Results >>> */

.results-circle {
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
    transition: 500ms;
}

.results-circle:hover {
    box-shadow: none;
    transform: scale(0.98);
}

/* section Results <<< */

/* section Reviews >>> */

.review__card {
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
}

.review__card-avatar {
    -display: inline-block;
    width: 50px;
    border-radius: 50%;
    overflow: hidden;
}

.review__card-img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

/* section Reviews <<< */

/* footer >>> */

.footer__link {
    transition: 500ms;
}

.footer__link:hover {
    color: rgb(122 185 0) !important;
}

/* footer <<< */